/* Basic styling */
body {
  font-family: sans-serif;  /* Change this to a font you like */
  margin: 0;
  padding: 0;
}

header {
  background-color: #9d1414;
  padding: 15px;
}

h1 {
  text-align: center;
}

main {
  padding: 60px;
}

section {
  background-color: rgb(213, 178, 135);
  border: 5px solid #470707;
  padding: 10px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 0;
}

/* Styling for the item elements */
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.item span.titulo {
  width: 50%;
}

.item input[type="number"] {
  width: 40%;
  border: 1px solid #840707;
  padding: 7px;
}