body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: darkred; /* Vermelho moderno */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardapio {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(50% - 1rem);
    margin-bottom: 1rem;
    align-items:calc(div);
    justify-items: center; 
    font-size: 17px;
}

h2 {
    color: darkred; /* Vermelho moderno */
    margin-bottom: 1rem;
    text-align: center;
    align-content: center;
    font-size: 27px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: darkred; /* Vermelho moderno */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}