body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkred;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px black 
}

h1 {
    text-align: center;
    color: darkred;
    margin-bottom: 20px;
    font-size: 3em ;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #e8e8e8;
}

button {
    background-color: darkred;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #dc3545;
}
