body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f2f2;
  }
  
  .container {
    background-color: #f0cccc;
    border: 5px solid #c0392b;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    font-size: large ;
  }
  
  h1 {
    color: #c0392b;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  #next-button {
    background-color: #c0392b;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #next-button:hover {
    background-color: #a02a1b;
  }
  
