/* style.css */


.tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table {
    display: inline-block;
    margin: 20px;
    width: 180px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.table-header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.chair {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.chair.available {
    background-color: #c6f7d0;
}

.chair.reserved {
    background-color: #c21d1d;
}

.titulo {
    text-align: center;
}

#confirmarButton {
    background-color: red;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 200px;
  }
  body {
    background-color: #c23f3f;
  }

  h1 {
    color: white;
    font-size: 80px;
  }

  .botao {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    margin-left: 800px;
    margin-top: 75px;
    border-radius: 5px;
  }