.pato{text-align: center;

background-color: rgb(191, 17, 17);
font-family: arial;
text-shadow: 20%;
}
h1 {color: antiquewhite;
}
h3 {font-family: Arial;
text-align: center;}
text {text-decoration: line-through;}
.vaca{text-align: center;
}
.log{font-family: Arial;
text-align: center;}
.fundo{background-image: -moz-element();}